@tailwind base;
@tailwind components;
@tailwind utilities;

.display-none {
  @apply hidden;
}

a::selection {
  background-color: #c7b6fc;
  color: #0e0f11;
}
p::selection {
  background-color: #c7b6fc;
  color: #0e0f11;
}
h1::selection {
  background-color: #c7b6fc;
  color: #0e0f11;
}
h2::selection {
  background-color: #c7b6fc;
  color: #0e0f11;
}
img::selection {
  background-color: #c7b6fc;
  color: #0e0f11;
}
div::selection {
  background-color: #c7b6fc;
  color: #0e0f11;
}
span::selection {
  background-color: #c7b6fc;
  color: #0e0f11;
}
